body{
    background-color: rgb(255, 251, 190);
    
}

.header{
    text-align: center;
    
}
.header img{
        box-shadow: 10px 10px 8px #888888;
}
.header h1 {
    font-family: Impact;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 60px;
}

/* MAIN PART OF THE WEBSITE */
#main-container
{

    background-color: rgb(255, 255, 255);

    border: 1px solid rgba(83, 44, 22, 0.685);
    padding: 50px;
}

#content-select{
    background-color: rgb(226, 226, 226);
    width:200px;
    border: 1px solid rgba(83, 44, 22, 0.685);
    padding: auto;

}