* { 
    box-sizing: border-box;
    font-family: var(--main-font);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 667px;
    max-height: 375px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    background-image: linear-gradient(to right, #E64E1F, #113BA6);
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Ticket
/*-----------------------------------------------------*/
.ticket {
    width: 640px;
    height: 350px;    
}

/* Header content */
.ticket__header {
    display: flex;
    padding: 14px 20px;
    height: 48px;
    white-space: nowrap;
    background-color: rgba(0, 73, 255, 0.05);
}

.ticket__logo {
    margin-right: 12px;
    height: 20px;
    width: 80px;
}

.ticket__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    height: 20px;
    padding-top: 2px;
    color: #004ba0;
}

.ticket__id {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    height: 20px;
    padding-top: 2px;
    color: #0E0101;
}

/* Body content */
.ticket__body {
    padding: 20px;
}

.ticket__disclaimer {
    font-size: 12px;
    color: #818899;
}

.ticket__price {
    font-size: 20px;
    margin: 20px 0 12px;
}

.ticket__price-info {
    color: #5b6271;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 600;
}

.ticket__price-info--highlighted {
    color: #004ba0;
}

/* Divider */
.ticket__divider {
    border-bottom: 1.5px dashed rgba(129, 136, 153, 0.2);
    border-style: none none dashed none;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Ticket List
/*-----------------------------------------------------*/
.ticket__list {
    color: #5b6271;
    font-weight: 600;
}

.ticket__list span {
    color: #0E0101;
    font-weight: 600;
}

.ticket__tag {
    color: white !important;
    font-size: 13px;
    font-weight: 500 !important;
    line-height: 16px;
    letter-spacing: 0.5px;
    vertical-align: middle;

    padding: 1px 4px 2px;
    margin-left: 2px;

    border-radius: 3px;
    background-color: #004ba0;
}

/* Modifiers */
.ticket__list--inline,
.ticket__list--inline li {
    display: inline-block;
}

.ticket__li--train li,
.ticket__li--passengers li {
    font-weight: 500;
    margin-right: 12px;
    font-size: 17px;
}

.ticket__list--main-info {
    display: grid;
    grid-template-columns: auto 48px;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}

.ticket__li--train {
    grid-column: 1;
    grid-row: 1;
}

.ticket__li--passengers {
    grid-column: 1;
    grid-row: 2;

    font-weight: 500;
}

.ticket__li--icons {
    grid-column: 2;
    grid-row: 1/3;

    max-height: 48px;
    overflow: hidden;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Ticket Icons
/*-----------------------------------------------------*/
.ticket__icon { 
    width: 22px;
    height: 22px;
    display: inline-block;
}

.ticket__icon--facility { 
    position: relative;
    border: 2px solid #004ba0;
    border-radius: 5px;
}

.ticket__icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 18px;
    height: 18px;
    background-size: contain;
}

.ticket__icon--facility-disability:after { background-image: url('./icons/baseline-accessible-24px.svg'); }
.ticket__icon--facility-baby:after { background-image: url('./icons/baseline-child_friendly-24px.svg'); }
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Columns
/*-----------------------------------------------------*/
.columns--ticket {
    display: grid;
    grid-template-columns: 470px 4px 170px;
    border-radius: 5px;
    overflow: hidden;
}

.columns__col {
    position: relative;
    overflow: hidden;
}

.columns__col:before,
.columns__col:after { 
    content:'';
    position:absolute;
    height:20px;
    width:20px;
    z-index: -1;
}

/* Divider */
.columns__divider--ticket {
    margin: 19px 0;
    border: 0;
    background-image: linear-gradient(to bottom,#f2f6ff 26px, white 0);
    position: relative;
}

.columns__divider--ticket:after {
    content: '|||||||||||||||||';
    position: absolute;
    top: -4px;
    height: 318px;
    font-family: cursive;
    word-break: break-all;
    color: #E9EAEC;
    font-size: 14.5px;
    transform: scaleX(4);
}


/* Ticket Circular CutOuts */
.columns__col--first:before,
.columns__col--first:after {
    right: 0;
}

.columns__col--first:before,
.columns__col--last:before {
    top: -1px;
}

.columns__col--first:after,
.columns__col--last:after {
    bottom: -1px;
}

.columns__col--first::before { 
    box-shadow: -500px -350px 0 510px white;
    border-radius: 0 0 0 100%;
}
.columns__col--first::after {
    box-shadow: -500px 350px 0 510px white;
    border-radius: 100% 0 0 0;
}
.columns__col--last::before { 
    box-shadow: 150px -50px 0 210px white;
    border-radius: 0 0 100% 0;
}
.columns__col--last::after { 
    box-shadow: 150px 50px 0 210px white;
    border-radius: 0 100% 0 0;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Coordinates
/*-----------------------------------------------------*/
.coordinates {
    display: flex;
    justify-content: space-between;
}


.coordinates__meta-container {
    margin: auto 0;
}

/* Duration & Distance Text */
.coordinates__text {
    font-size: 14px;
    font-family: var(--secondary-font-condensed);
    font-weight: 700;
    color: #818899;
    text-align: center;
}

/* Divider */
.coordinates__divider {
    width: 46px;
    height: 3px;
    position: relative;
    margin: 2px auto;
    background: linear-gradient(to right, #E64E1F, #113BA6);
}

.coordinates__divider:before,
.coordinates__divider:after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
}

.coordinates__divider:before {
    top: -3px;
    left: -6px;
    border: 2px solid #E64E1F;
}

.coordinates__divider:after {
    top: -3px;
    right: -6px;
    border: 2px solid #113BA6;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Card
/*-----------------------------------------------------*/
.card {
    display: grid;
    grid-template-columns: 22px 132px;
    column-gap: 2px;
    
    padding: 8px 8px 8px 4px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.card__content {
    overflow: hidden;
}

.card__title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.card__subtitle {
    color: #6C7280;
    font-size: 17px;
    font-weight: 300;
}

.card--icon:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    margin-top: 2px;
}

.card--icon-departure:before { background-image: url('./icons/outline-person_pin_circle-24px.svg'); }
.card--icon-destination:before { background: url('./icons/baseline-room-24px.svg') no-repeat; }
/*-----------------------------------------------------*/