<div class="ticket columns columns--ticket">
        <!-- Left col -->
        <div class="columns__col columns__col--first">
            <!-- Header -->
            <div class="ticket__header">
                <div class="ticket__logo">
                    <img src="icons/cfr_logo.svg" alt="CFR Logo">
                </div>
                <div class="ticket__title">Bilet o calatorie</div>
            </div>
            <!-- Body -->
            <div class="ticket__body">
                <ul class="ticket__list ticket__list--main-info">
                    <!-- Train details -->
                    <li class="ticket__li ticket__li--train">
                        <ul class="ticket__list ticket__list--inline">
                            <li>Tren <span>{{ticket.trainId}}</span></li>
                            <li>Vagon <span>{{ticket.vagon}}</span></li>
                            <li>Clasa <span>{{ticket.classType}}</span></li>
                            <li>Scaun <span>{{ticket.seat}}</span></li>
                        </ul>
                    </li>
                    <!-- Facilities icons -->
                    <li class="ticket__li ticket__li--icons">
                        <ul class="ticket__list ticket__list--inline">
                            <li><span class="ticket__icon ticket__icon--facility ticket__icon--facility-disability"></span></li>
                            <li><span class="ticket__icon ticket__icon--facility ticket__icon--facility-baby"></span></li>
                        </ul>
                    </li>
                    <!-- Passengers list -->
                    <li class="ticket__li ticket__li--passengers">Pasageri
                        <ul class="ticket__list ticket__list--inline">
                            <li><span>{{ticket.nrPass}} </span> </li>
                        </ul>
                    </li>
                </ul>
                
                <hr class="ticket__divider">

                <!-- Coordinates -->
                <div class="coordinates">
                    <!-- Card -->
                    <div class="card card--icon card--icon-departure">
                        <div class="card__content">
                            <h2 class="card__title js-departure">{{ticket.departureCity.cityName}}</h2>
                            <p class="card__subtitle">23:45 02 Mar</p>
                        </div>
                    </div>
                    <!-- Coordinates divider -->
                    <div class="coordinates__meta-container">
                        <p class="coordinates__text">15h 34m</p>
                        <div class="coordinates__divider"></div>
                        <p class="coordinates__text">{{ticket.distance}} km</p>
                    </div>
                    <!-- Card -->
                    <div class="card card--icon card--icon-destination">
                        <div class="card__content">
                            <h2 class="card__title js-destination">{{ticket.arrivalCity.cityName}}</h2>
                            <p class="card__subtitle">12:08 03 Mar</p>
                        </div>
                    </div>
                </div>

                <hr class="ticket__divider">

                <p class="ticket__disclaimer">
                    ** Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eusmod tempor incididunt ut labore. <b>Lorem ipsum dolor sit amet</b>.
                </p>
            </div>
        </div>

        <!-- Columns divider -->
        <hr class="columns__divider columns__divider--ticket">

        <!-- Right col -->
        <div class="columns__col columns__col--last">
            <!-- Header -->
            <div class="ticket__header">
                <div class="ticket__id">ID {{ticket.ticketId}} <span class="js-ticket-id"></span></div>
            </div>

            <!-- Body -->
            <div class="ticket__body">
                <div class="ticket__validation js-qrcode"></div>

                <h3 class="ticket__price">{{ticket.price.toFixed(2)}} RON</h3>
                
                <p class="ticket__price-info ticket__price-info--highlighted"></p>
            </div>
        </div>

    </div> <!-- Ticket end -->