body {
    background-color: #010165;
    margin: 0px;
  }
  .header {
    background-color: #00ffff;
    text-align: center;
  }
  .title-row {
    display: inline;
    width: 500px;
    margin-top: 42px;
    margin-bottom: 21px;
    margin: 0 auto;
    text-align: center;
  }
  .instructions-title {
    display: inline;
    font-size: 18px;
    color: #00ffff;
    font-family: 'Work Sans';
  }
  .instructions-row {
    margin: 0 auto;
    width: 400px;
  }
  .instructions-number{
    padding-right: 25px;
    font-family: 'Work Sans';
    font-size: 36px;
    color: #00ffff;
  }
  .instructions-text{
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 14px;
    color: #FFF;
  }
  .door-row{
    text-align: center;
  }
  
  .door-frame {
    cursor: pointer;
    padding: 10px;
  }
  .start-row{
    margin: auto;
    width: 120px;
    height: 43px;
    font-family: 'Work Sans';
    background-color: #eb6536;
    padding-top: 18px;
    font-size: 18px;
    text-align: center;
    color: #010165;
    margin-bottom: 21px;
    cursor: pointer;
    
  }