#title {
    color:  khaki;
    font-size:100px;
    font-family:Helvetica;
    font-weight:bold;
    text-align: center;
    vertical-align: middle;
}
#header{
    background-image: url(resources/images/pattern.jpeg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:150px;
}
.container-part h2{
    font-size:32px;
    font-weight:bold;
    color:white;
}
.container-part p, .container-part h2{
    font-family: Helvetica;
}
#brushes{
    background-color: mediumspringgreen;
}
#frames{
    background-color: lightcoral;
}
#paint{
    background-color: skyblue;
}
