<h3>Vă rugăm să introduceți datele necesare pentru emiterea biletului</h3> 
<div class='container-all'>
    <div id='departure' class='row'>    

       <strong>Localitatea de plecare: </strong> 
        <input type='text' required
        [(ngModel)]='departure'/> 
        
    </div>

    <div id='arrival' class='row'>    

            <strong>Localitatea destinatie:</strong>
            <input type='text' required
            [(ngModel)]='arrival'/> 
            
    </div>
    <div id='passengers' class='row'><strong>Numărul pasagerilor: </strong> 
        <span >    

                Elevi (50% reducere): 
                <input type='number' id='elev'  
                [(ngModel)]='nrElev' min='0'/> 
                
        </span>
        <span >
                Adulți:
                <input type='number' id = 'adult'
                [(ngModel)]='nrAdult' min='0'/>
        </span>
        <span >
                Pensionari (75% reducere):
                <input type='number' id = 'pens'
                [(ngModel)]='nrPens' min='0'/>
        </span>
    </div>
    <div id='classtype' class='row'>
                <strong>Clasa: </strong>
                <input type='number' required
                [(ngModel)]='classType' min="1" max="2" value="1">
    </div>
    <div class='row'>
<input type='submit' value='Emite Bilet' (click)='onSubmit()'>
    </div>
    <div id="error" *ngIf = 'errorMessage' >
           <strong> {{errorMessage}} </strong>
            
    </div>
</div>