/*-----------------------------------------------------*/
/* ----- Font Variables
/*-----------------------------------------------------*/
:root {
    --main-font: 'Roboto', "Franklin Gothic Medium", Tahoma, sans-serif;
    --secondary-font: 'Open Sans', Arial, sans-serif;
    --secondary-font-condensed: 'Open Sans Condensed', Arial, sans-serif;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- General
/*-----------------------------------------------------*/
* { 
    box-sizing: border-box;
    font-family: var(--main-font);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    /*
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 667px;
    max-height: 375px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    */
    overflow: hidden;
    background-image: linear-gradient(to right, #E64E1F, #113BA6);
}
/*-----------------------------------------------------*/
